* {
  font-family: "Proxima Nova";
}
.app {
  max-width: 960px;
  margin: 0 auto;
}
.search-form {
  margin-top: 30px;
}
.list-container-filter {
	position: relative;
}
.list-container-data {
	position: relative;
	top: 26px;
}
.title-data {
	text-align: center;
    margin-bottom: 20px;
}
.description {
	position: relative;
}
.title-data .image {
	position:relative;
}
.description .title > h4 {

}
.description > span {

}
.title-data .image > span {
	position:absolute;
	color: #4e4343;
	line-height:200px;
	margin:0;
}
.title-data .image > img {
	width:170px;
    height:auto;
}
.list-container-filter .title {

}
.list-container-filter .title  .link-filter{

}
@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}

@media (min-width: 48em){

	.sidebar {
	    position: fixed;
	    top: 0;
	    bottom: 0;
	}
}